@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-display: block; /* This property will help us not flash unstyled text for a couple hundred milliseconds, and then it would act like font-display: swap */
  src: url("/fonts/nunito.woff2") format("woff2");
}

body {
  scroll-behavior: smooth;
  font-family: "Nunito", sans-serif;
}
