---
// Component Imports
import Layout from "../layouts/main.astro";

import IndexSection from "@/components/sections/index.astro";
import DragndropSection from "@/components/sections/dragndrop.astro";
import Pricing from "@/components/sections/pricing.astro";

const title = "Voragile";
---

<Layout content={{ title }}>
  <main class="flex flex-col gap-32">
    <IndexSection />
    <div class="bg-primary p-12">
      <DragndropSection />
    </div>
    <Pricing />
  </main>
</Layout>
