---
import Button from "@/components/Button.tsx";
import { ArrowRightIcon } from "lucide-react";
import Container from "./Container.astro";
---

<Container>
  <header class="flex items-center justify-between w-full">
    <div class="flex items-center gap-4">
      <svg
        class="w-20"
        viewBox="0 0 78 81"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M67 62.3556C67 76.1317 51.6884 81 34.081 81C16.4735 81 0 76.1317 0 62.3557C0 48.5797 16.4735 68 34.081 68C51.6884 68 67 48.5796 67 62.3556Z"
          fill="#7C3AED"></path>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M2.16273 24.2502L29.0823 7.37308L33.3154 4.70798C17.6255 8.53384 3.39349 14.8785 2.03559 24.4116L2.16273 24.2502ZM2 28.1241L57.1605 0.709348C62.005 0.227518 66.3318 0 69.6844 0C80.229 0 78.8881 2.25051 75.7096 7.58498C73.6804 10.9895 70.9032 15.6501 69.9894 21.7836L15.534 45.5006L11.0032 49.1301C5.83997 43.5479 2.51548 36.2205 2 28.1241ZM12.2737 50.4324C18.3682 56.3559 26.6647 60 35.8072 60C52.4684 60 66.3204 47.8974 69.1543 31.9526L12.2737 50.4324Z"
          fill="#7C3AED"></path>
      </svg>
      <span class="text-2xl text-primary">Voragile</span>
    </div>
    <nav>
      <ul class="flex gap-4 text-lg text-colorText text-opacity-80">
        <li>
          <a href="/" class="hover:text-primary">Product</a>
        </li>
        <li>
          <a href="/" class="hover:text-primary">Resources</a>
        </li>
        <li>
          <a href="/" class="hover:text-primary"> Enterprise</a>
        </li>
        <li>
          <a href="/" class="hover:text-primary">Pricing</a>
        </li>
      </ul>
    </nav>
    <div class="flex gap-4 items-center">
      <a href="/signin" class="text-lg text-colorText">Log in</a>
      <a href="/sign-up">
        <Button>
          Sign Up <ArrowRightIcon className="w-4 h-4" />
        </Button>
      </a>
    </div>
  </header>
</Container>
