---
import type { Pricing } from "@/types";
import Button from "./Button";
import { cn } from "@/libs/utils";
interface Props {
  pricing: Pricing;
}
const { btnText, description, features, price, title, isFeatured } =
  Astro.props.pricing;
---

<div
  class={`p-4 border border-gray-200 rounded-lg flex flex-col gap-4 ${isFeatured ? "bg-primary md:scale-105" : "bg-white"}`}>
  <h4
    class={`text-2xl font-semibold ${isFeatured ? "text-white" : "text-gray-900"}`}>
    {title}
  </h4>
  <p
    class={`mt-1 text-md ${isFeatured ? "text-white" : "text-gray-500"}`}>
    {description}
  </p>
  <ul>
    {
      features.map((feature) => (
        <li
          class={`flex items-center mt-4 text-md ${
            isFeatured ? "text-white" : "text-gray-500"
          }`}
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="1.5"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            width="1em"
            height="1em"
            class="inline-flex mr-2 shrink-0 text-2xl text-green-300"
          >
            <>
              <circle cx="12" cy="12" r="9" />
              <path d="M9 12l2 2l4 -4" />
            </>
          </svg>
          {feature}
        </li>
      ))
    }
  </ul>
  <a href="/" class="block mt-4">
    <Button variant={isFeatured ? "secondary" : "default"} className={isFeatured ? "text-white border-white" : ""}>
      {btnText}
    </Button>
  </a>
</div>
